In [1]:
## import dan config
import pandas as pd
import duckdb

import sqlalchemy
from sqlalchemy.pool import NullPool

from sklearn.model_selection import train_test_split

In [2]:
## load raw dataset
credit_applications = pd.read_csv("../datasets/raw/credit_applications.csv")

## display
credit_applications

,id,credit_event,name_contract_type,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,...,prev_rate_interest_privileged_avg,prev_days_decision_avg,prev_name_payment_type_count,prev_cnt_payment_sum,prev_days_first_drawing_avg,prev_days_first_due_avg,prev_days_last_due_1st_version_avg,prev_days_last_due_avg,prev_days_termination_avg,prev_nflag_insured_on_approval_avg
0,100599,0,Cash loans,False,True,0,315000.0,835380.0,40320.0,675000.0,...,NaN,671.000000,1.0,36.0,365243.00,-638.000000,412.000000,-368.000000,-362.00,0.000000
1,165926,0,Cash loans,False,True,2,157500.0,163008.0,17424.0,144000.0,...,NaN,522.000000,3.0,24.0,365243.00,-557.500000,-227.500000,-242.500000,-235.00,1.000000
2,192297,0,Cash loans,False,True,0,157500.0,1006920.0,42790.5,900000.0,...,NaN,508.000000,1.0,12.0,365243.00,-476.000000,-146.000000,-146.000000,-142.00,0.000000
3,123157,0,Revolving loans,False,False,0,180000.0,382500.0,19125.0,382500.0,...,NaN,247.250000,4.0,82.0,365243.00,-370.500000,-70.500000,182518.500000,182521.50,0.500000
4,251953,0,Cash loans,False,True,0,135000.0,256500.0,14319.0,256500.0,...,NaN,240.888889,9.0,60.0,365243.00,121532.333333,121752.333333,243422.666667,243425.00,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23999,165251,0,Revolving loans,False,False,0,135000.0,450000.0,22500.0,450000.0,...,NaN,318.571429,7.0,102.0,365243.00,-793.500000,166.500000,182346.000000,182350.50,0.500000
24000,268289,0,Cash loans,False,True,0,121500.0,90000.0,10809.0,90000.0,...,NaN,484.000000,2.0,20.0,365243.00,-452.000000,-182.000000,-227.000000,182417.50,0.000000
24001,417193,0,Cash loans,False,True,1,270000.0,1030500.0,28467.0,1030500.0,...,NaN,247.000000,2.0,18.0,365243.00,182513.500000,182768.500000,365243.000000,365243.00,0.000000
24002,310894,0,Cash loans,True,True,0,112500.0,675000.0,32472.0,675000.0,...,NaN,1031.600000,5.0,50.0,273675.75,-978.000000,90753.750000,-759.750000,-599.75,0.000000
24003,392608,0,Cash loans,True,True,1,94500.0,247275.0,19953.0,225000.0,...,NaN,1959.000000,1.0,10.0,365243.00,-1912.000000,-1642.000000,-1672.000000,-1664.00,0.000000

Split menjadi train-test (85%) dan validation (15%), dimana validation tidak akan digunakan atau disentuh proses validasi nantinya.

In [3]:
## split 15% for validation, 85% untuk train-test
train_test_set, validation_set = train_test_split(credit_applications, test_size=0.15, random_state=777)

## cek hasil split
train_shape = train_test_set.shape
valid_shape = validation_set.shape

print("train-test shape: ", train_shape)
print("validation shape: ", valid_shape)

train-test shape:  (20403, 178)
validation shape:  (3601, 178)

In [4]:
display(train_test_set.head(3), validation_set.head(3))

,id,credit_event,name_contract_type,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,...,prev_rate_interest_privileged_avg,prev_days_decision_avg,prev_name_payment_type_count,prev_cnt_payment_sum,prev_days_first_drawing_avg,prev_days_first_due_avg,prev_days_last_due_1st_version_avg,prev_days_last_due_avg,prev_days_termination_avg,prev_nflag_insured_on_approval_avg
15513,112408,0,Cash loans,True,True,2,202500.0,521280.0,31630.5,450000.0,...,NaN,1465.0,3.0,24.0,365243.0,-1431.666667,-1221.666667,120514.666667,120520.00,0.000000
5100,453795,0,Cash loans,True,True,0,90000.0,568800.0,16299.0,450000.0,...,0.513742,936.6,5.0,56.0,365243.0,-1096.250000,-796.250000,90356.500000,90360.75,0.500000
8080,342026,0,Cash loans,False,True,0,157500.0,298512.0,31473.0,270000.0,...,NaN,723.8,5.0,32.0,365243.0,-766.333333,-476.333333,-536.333333,-532.00,0.666667

,id,credit_event,name_contract_type,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,...,prev_rate_interest_privileged_avg,prev_days_decision_avg,prev_name_payment_type_count,prev_cnt_payment_sum,prev_days_first_drawing_avg,prev_days_first_due_avg,prev_days_last_due_1st_version_avg,prev_days_last_due_avg,prev_days_termination_avg,prev_nflag_insured_on_approval_avg
9210,200813,0,Revolving loans,False,True,1,360000.0,900000.0,45000.0,900000.0,...,NaN,228.5,2.0,12.0,365243.0,-196.5,-46.5,182552.5,182554.0,0.0
4120,146380,0,Cash loans,False,True,0,108000.0,521280.0,25209.0,450000.0,...,NaN,1174.2,5.0,58.0,292119.2,-1068.0,72372.6,72360.6,72365.6,0.6
22470,180979,0,Cash loans,True,True,1,202500.0,728460.0,53140.5,675000.0,...,NaN,1605.0,4.0,22.0,365243.0,-2117.0,-1817.0,-1847.0,-1843.0,0.5

Dump ke database

In [5]:
con = duckdb.connect("../dagster-scorecard/data/staging/data.duckdb")

In [6]:
## dump train-test
con.sql("CREATE TABLE train_test_set AS SELECT * FROM train_test_set")
con.sql("INSERT INTO train_test_set SELECT * FROM train_test_set")

In [7]:
## dump validation
con.sql("CREATE TABLE validation_set AS SELECT * FROM validation_set")
con.sql("INSERT INTO validation_set SELECT * FROM validation_set")

Coba query

In [8]:
con.sql("SELECT id, credit_event, name_contract_type FROM train_test_set LIMIT 5")

┌────────┬──────────────┬────────────────────┐
│   id   │ credit_event │ name_contract_type │
│ int64  │    int64     │      varchar       │
├────────┼──────────────┼────────────────────┤
│ 112408 │            0 │ Cash loans         │
│ 453795 │            0 │ Cash loans         │
│ 342026 │            0 │ Cash loans         │
│ 329085 │            0 │ Cash loans         │
│ 285854 │            0 │ Cash loans         │
└────────┴──────────────┴────────────────────┘

In [9]:
con.sql("SELECT id, credit_event, name_contract_type FROM validation_set LIMIT 5")

┌────────┬──────────────┬────────────────────┐
│   id   │ credit_event │ name_contract_type │
│ int64  │    int64     │      varchar       │
├────────┼──────────────┼────────────────────┤
│ 200813 │            0 │ Revolving loans    │
│ 146380 │            0 │ Cash loans         │
│ 180979 │            0 │ Cash loans         │
│ 206998 │            0 │ Revolving loans    │
│ 109615 │            0 │ Cash loans         │
└────────┴──────────────┴────────────────────┘