In [1]:
## import dan config
import pandas as pd
import numpy as np
import duckdb

from sklearn.model_selection import train_test_split

pd.options.display.max_columns = None

In [2]:
## build connection
con = duckdb.connect("../dagster-scorecard/data/staging/loan_data_2015.duckdb")

In [6]:
df = con.sql("SELECT * FROM new_applications_to_score").df()
df

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_int,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,65616745,10000,10000,10000,36 months,5.32,301.15,A,3 years,MORTGAGE,78000.0,Not Verified,Nov-15,n,credit_card,MD,13.80,0,Feb-99,0,35.0,10,0,17253,51.8,15,w,9743.18,9743.18,295.24,295.24,38.42,Dec-15,301.15,Jan-16,0,NaN,1,INDIVIDUAL,0,0,332536,33300
1,55797208,25000,25000,25000,36 months,5.32,752.87,A,3 years,MORTGAGE,98000.0,Not Verified,Jul-15,n,debt_consolidation,TN,20.01,0,Mar-97,0,43.0,13,0,31014,48.8,30,w,21761.24,21761.24,3756.76,3756.76,518.00,Dec-15,752.87,Jan-16,0,NaN,1,INDIVIDUAL,0,0,333694,63600
2,40391548,10000,10000,10000,36 months,11.44,329.48,B,10+ years,RENT,75000.0,Source Verified,Feb-15,n,debt_consolidation,CA,12.74,0,May-95,2,NaN,13,1,7028,40.4,39,w,7298.04,7298.04,3617.92,3617.92,915.96,Jan-16,329.48,Jan-16,0,NaN,1,INDIVIDUAL,0,0,14435,17400
3,40371290,3300,3300,3300,36 months,11.99,109.60,B,10+ years,RENT,43000.0,Not Verified,Feb-15,n,credit_card,MD,22.02,0,Aug-03,0,NaN,9,0,10020,63.4,19,w,2413.70,2413.70,1203.40,1203.40,317.10,Jan-16,109.60,Jan-16,0,NaN,1,INDIVIDUAL,0,0,37765,15800
4,55957703,10000,10000,10000,36 months,8.18,314.20,B,4 years,RENT,30224.4,Source Verified,Jul-15,n,credit_card,GA,10.68,0,Dec-85,1,75.0,5,0,9417,70.3,17,w,8729.53,8729.53,1589.66,1589.66,319.19,Jan-16,320.00,Jan-16,0,75.0,1,INDIVIDUAL,0,0,9417,13400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10523,39239290,12000,12000,12000,36 months,6.99,370.48,A,10+ years,MORTGAGE,65000.0,Source Verified,Jan-15,n,credit_card,TX,17.84,0,Apr-01,0,36.0,8,0,13648,65.3,27,w,8595.62,8595.62,4070.62,4070.62,666.24,Dec-15,370.48,Jan-16,0,NaN,1,INDIVIDUAL,0,0,255984,20900
10524,59199244,10000,10000,10000,36 months,9.99,322.63,B,< 1 year,MORTGAGE,40000.0,Not Verified,Aug-15,n,credit_card,PA,24.87,1,Apr-02,4,NaN,16,1,6156,44.0,24,w,9030.46,9030.46,1279.42,1279.42,309.88,Dec-15,322.63,Jan-16,1,7.0,1,INDIVIDUAL,0,0,111997,13900
10525,61512251,30075,30075,30075,36 months,16.55,1065.54,D,7 years,RENT,65000.0,Verified,Oct-15,n,debt_consolidation,FL,21.64,1,Nov-91,0,10.0,10,0,13841,57.7,39,w,28764.51,28764.51,2103.43,2103.43,792.94,Dec-15,1065.54,Jan-16,0,10.0,1,INDIVIDUAL,0,0,98663,24000
10526,50579408,8000,8000,8000,36 months,11.53,263.93,B,< 1 year,RENT,45000.0,Not Verified,Jun-15,n,debt_consolidation,MA,7.36,1,Sep-02,1,22.0,20,0,9168,76.4,29,f,6652.20,6652.20,1842.39,1842.39,494.59,Jan-16,263.93,Jan-16,0,22.0,1,INDIVIDUAL,0,0,172175,12000
10527,57762375,16475,16475,16475,36 months,12.29,549.50,C,3 years,RENT,85000.0,Not Verified,Aug-15,n,debt_consolidation,NY,4.91,1,Jan-01,0,14.0,9,0,2815,14.9,15,f,14531.76,14531.76,2725.00,2725.00,781.76,Jan-16,549.50,Jan-16,0,NaN,1,INDIVIDUAL,0,0,5445,18900

In [7]:
con.close()